body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.4;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}

.navbar{
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFF;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: auto;
    
}

.navbar-menu li {
    display: inline-block;
    
    
}

.navbar-menu li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 35px;
}

.navbar-menu li a:hover {
    transform: scale(1.1);
    font-weight: 50;
    
}

.navbar-wrap {
   display: flex;
   align-items: center;
   margin-right: 55px;
   margin-left: 440px;
}

.navbar-logo {
    font-weight: 1000;
    font-size: 30px;
    text-decoration: none;
    color: rgb(19, 66, 196);
    margin-left: 55px;
    
}

.navbar-name {
    font-weight: 10;
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin-bottom: -5px;
    
}

.d {
    margin-top: 80px;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    
    
}

.d li {
    padding: 10px 20px;
}

.d li.active {
    background-color: #2b2bc4;
    color: white;
}

.d i {
    margin-right: 5px;
}

.d li a {
    color: inherit;
    text-decoration: none;
}

div.about .info_row {
    text-transform: uppercase;
    display: flex;
    margin-left: -40px;
    
}

ul {
    list-style-type: none;
}

.footer-distributed {
    width: 100%;
    display: inline-block;
    text-decoration: underline;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;

}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

